* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.9rem;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

a:hover {
  color: #898cce;
}

li {
  padding: 20px;
}

.push {
  margin-left: auto;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgb(55, 66, 77);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  height: 100%;
  width: 100%;
}

.coverText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.7rem;
    padding: 0;
  }

  .coverText {
    font-size: 0.6rem;
  }
}
